body {
    background-color: white;
	margin-left: 12px;
}

h1 {
    color: Black;
    margin-left: 12px;
}

h2 {
    background-color: #dedede;
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #d4d4d4;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #ccc;
	color: #fff
	margin: 12px;
	padding: 0.3em 1em;
	text-shadow: #9FBEB9 1px 1px 1px;
	text-transform: uppercase;
	width: 40%;
}

#h21						{background-color: #0B5586}
#h22						{background-color: #4494C9}
#h23						{background-color: #377D87}
#h24						{background-color: #717F88}


	
